<html style="height: 100vh">
	<head>
		<meta charset="utf-8">
        <title> 防洗錢資料庫 </title>
	</head>
    <body>
        <form action = "/input" method = "post" >
            請輸入姓名：<input type="text" name="content" >
            <input type="submit" value="送出" >
        </form>
        <table style="width: 100vw;" border="1">
        <tr>
            <th style="width: 6vw;">name</th>
            <th>sentence</th>
        </tr>
       
        </table>
    </body>
</html>